<section style="background-color: black; color: white;">
  <span (click)="navigateToHomePage()" style="font-size: small; cursor: pointer;" class="mg-b-1">
    &#8592; Back to Home Page
  </span>
  <h1>
    What game will be played in this room?
  </h1>
</section>

<section class="grid">
  <div class="col-6 grid col-sm-12">
    <select class="col-12 mg-b-4" name="" id="">
      <option>
        Select a game
      </option>
      <option value="1">
        Snake Xenxia
      </option>
      <option value="1">
        Ping Pong
      </option>
      <option value="1">
        Tetris
      </option>
      <option value="1">
        Score Hero
      </option>
    </select>
    <div class="col-12"></div>
    <div class="col-12 col-sm-12 card grid">
      <h5 class="col-12">Tic Tac Toe</h5>
      <div class="col-6 col-sm-12">
        <div>
          <img src="../../assets/tic-tac-toe/tic-tac-toe.png" alt="">
        </div>
      </div>
      <div class="col-6 col-sm-12 pad-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolore dolor incidunt
        suscipit. Dignissimos, iusto non voluptatum earum cumque porro culpa blanditiis repudiandae laboriosam,
        consectetur hic accusamus nihil quidem sint.</div>
    </div>
  </div>
  <div class="col-6 pad-10 text-right col-sm-12">
    <button>
      Creat Room &#8594;
    </button>
  </div>
</section>
