.modal-container {
  width: 100vw;
  height: 100vh;
  margin: 0px 0px 0px 0px;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.active {
  display: none;
}

.modal {
  background-color: white;
  width: 70vh;
  height: 70vh;
  overflow: hidden;
  border-radius: 7px;
  padding: 4%;
  margin: 5% auto 5% auto;
}

.modal-title {
  margin-bottom: 4%;
}

.modal-body {
  overflow-y: auto;
  height: 80%
}

.modal-footer {
  margin-top: 4%;
}

.close-modal-button {
  background-color: transparent;
  padding: 0px;
}

.close-modal-button span {
  font-weight: 900;
}
