<div #modalContainer class="modal-container">
  <div class="modal">
    <div class="modal-title">
      <h3>
        {{modal.title}}
        <button (click)="onCloseModal($event)" style="float: right;">
          <span class="mdi mdi-close"></span>
        </button>
      </h3>
    </div>
    <div class="modal-body">
      {{modal.body}}
    </div>
    <div class="modal-footer">
      <button *ngIf="modal.primaryButtonTitle" #primaryButton
        (click)="onPrimaryButtonClick($event)">{{modal.primaryButtonTitle}}</button>
      <button *ngIf="modal.secondaryButtonTitle" #secondaryButton
        (click)="onSecondaryButtonClick($event)">{{modal.secondaryButtonTitle}}</button>
    </div>
  </div>
</div>
