<section style="background-color: black; color: white" class="text-center">
  <h1>
    Pick one from any of our games
  </h1>
  <div class="mg-t-5">
    <button (click)="navigateToCreateRoom()" class="primary-btn">Create New Room</button>
    <button class="secondary-btn">Join Room</button>
  </div>
</section>

<section class="grid">
  <div class="col-12">
    <h1>Some Topic</h1>
  </div>
  <div class="col-6 col-sm-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sunt, doloribus laudantium dolorem delectus,
    deleniti nisi suscipit voluptates nobis repellendus illo vero accusantium rem sapiente aspernatur consequatur dicta
    voluptatibus consectetur!
  </div>
  <div class="mg-t-5 text-center col-6 col-sm-12">
    <button>New Room</button>
    <button>Join Room</button>
  </div>
</section>

<!-- games -->
<!-- <section class="grid"> -->
  <!-- start game card -->
  <!-- <div class="card col-3 col-sm-6 mg-2 pad-5">
    <div class="card-header">Tic Tac Toe</div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
  </div> -->
  <!-- end game card -->
<!-- </section> -->
<!--
<footer>
  Powered by Mitagon
</footer> -->
