<div class="text-center card" id="side-nav">
  <span (click)="navigateToHomePage()" style="font-size: small; cursor: pointer;" class="mg-b-1">
    &#8592; Back to Home Page
  </span>
  <div>
    <img src="../../assets/sample-images/user-image.jpeg" alt="">
  </div>
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Games
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Create New Game
      </div>
      <div class="drop-down-item">
        Update Game
      </div>
      <div class="drop-down-item">
        Delete Game
      </div>
    </div>
  </div>
  <!-- drop-down stop -->

  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Rooms
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Create Room
      </div>
      <div class="drop-down-item">
        View Rooms
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Analytics
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Data Logs
      </div>
      <div class="drop-down-item">
        View Rooms
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Invitations
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        New Invites
      </div>
      <div class="drop-down-item">
        Invite Friends
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Analytics
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Data Logs
      </div>
      <div class="drop-down-item">
        View Rooms
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Friends
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Delete Friend
      </div>
      <div class="drop-down-item">
        View Logs
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
  <!-- drop-down start -->
  <div class="drop-down">
    <div class="drop-down-header">
      Place a Bet
    </div>
    <div class="drop-down-body">
      <div class="drop-down-item">
        Delete Friend
      </div>
      <div class="drop-down-item">
        View Logs
      </div>
      <div class="drop-down-item">
        Delete Room
      </div>
    </div>
  </div>
  <!-- drop-down stop -->
</div>
<div id="main"></div>
